{% load static %}
<div class="text-center">
    <footer class="text-white py-5" style="background-color: #192024;">
        <div class="flex mb-5">
            <img class="h-8" src="{% static 'img/logo_w.svg' %}" alt="">
            <div class="text-sm text-left ml-3">
                ビジネスマッチング＆コワーキングスペース<br>
                創業支援も充実している東京中野の「ictco（イクトコ）」
            </div>
        </div>
        <div class="text-left text-sm ">
            一般社団法人 中野区産業振興推進機構 〒164-0001 東京都中野区中野4-10-1 NAKANO CENTRAL PARK EAST 1F
        </div>
    </footer>
</div>