{% extends 'main/public_base.html' %}
{% load static %}
{% block content %}
<nav class="bg-grey-light p-3 rounded font-sans w-full m-4">
    <ol class="list-reset flex text-grey-dark">
      <li><a href="{% url 'main:list_company' %}" class="text-blue font-bold">会社一覧</a></li>
      <li><span class="mx-2">/</span></li>
      <li>{{ object.company_name }}</li>
    </ol>
</nav>
<div class="bg-white text-black border p-5 mb-5" style="position: relative;">
    <div class="text-xs">{{ object.company_name_furigana }}</div>
    <h1 class="text-3xl font-extrabold mb-2">{{ object.company_name }}</h1>
    <div>
      [業種]大分類：{{ object.category1_name }}　小分類：{{ object.category2_name }}
    </div>
    {% if object.short_delivery %}
    <div style="position: absolute; right: 0; top: 0;">
        {% include 'main/components/short_delivery.html' %}
    </div>
    {% endif %}
</div>
<div class="flex w-full border-b-2 border-black mb-5">
    <div class="bg-black font-bold text-white p-3">
        会社概要
    </div>
</div>
<div class="mb-5" style="min-height: 50px;">
    {{ object.short_descripmtion|linebreaks }}
</div>
<div class="bg-gray-200 text-gray-600 font-bold p-3 mb-5">
    会社案内
</div>
<table class="mb-5 w-full border-collapse text-black border border-gray-200">
    <tbody>
      <tr class="border border-gray-200">
        <th class="p-4 bg-gray-100">
          代表者
        </th>
        <td class="p-4">
          {{ object.representative_name }}
        </td>
      </tr>
      <tr class="border border-gray-200">
        <th class="p-4 bg-gray-100">
          業務内容説明
        </th>
        <td class="p-4">
          {{ object.description|linebreaks }}
        </td>
      </tr>
      <tr class="border border-gray-200">
        <th class="p-4 bg-gray-100">
          電話番号
        </th>
        <td class="p-4">
          {{ object.phone }}
        </td>
      </tr>
      <tr class="border border-gray-200">
        <th class="p-4 bg-gray-100">
          創立
        </th>
        <td class="p-4">
          {{ object.established_at }}
        </td>
      </tr>
      <tr class="border border-gray-200">
        <th class="p-4 bg-gray-100">
          主な取引先
        </th>
        <td class="p-4">
          {{ object.major_clients|linebreaks }}
        </td>
      </tr>
      <tr class="border border-gray-200">
        <th class="p-4 bg-gray-100">
          主な製品
        </th>
        <td class="p-4">
          {{ object.major_products|linebreaks }}
        </td>
      </tr>
      <tr class="border border-gray-200">
        <th class="p-4 bg-gray-100">
          主な技術
        </th>
        <td class="p-4">
          {{ object.major_technologies|linebreaks }}
        </td>
      </tr>
      <tr class="border border-gray-200">
        <th class="p-4 bg-gray-100">
          主な施設
        </th>
        <td class="p-4">
          {{ object.major_facilities|linebreaks }}
        </td>
      </tr>
      <tr class="border border-gray-200">
        <th class="p-4 bg-gray-100">
          アピールポイント
        </th>
        <td class="p-4">
          {{ object.appeal_points|linebreaks }}
        </td>
      </tr>
    </tbody>
</table>
<div class="bg-gray-200 text-gray-600 font-bold p-3 mb-5">
    連絡先
</div>
<table class="w-full border-collapse text-gray-700 border border-gray-200">
    <tbody>
      <tr>
        <th class="p-4 bg-gray-100">
            Email
        </th>
        <td class="p-4">
            {{ object.email }}
            <a class="bg-gray-600 rounded shadow text-white p-2 text-xs " href="mailto:{{ object.email }}">メール送信</a>
        </td>  
      </tr>
      <tr class="border border-gray-200">
        <th class="p-4 bg-gray-100">
          電話番号
        </th>
        <td class="p-4">
          {{ object.phone }}
        </td>
      </tr>
 
      <tr class="border border-gray-200">
        <th class="p-4 bg-gray-100">
          担当者名
        </th>
        <td class="p-4">
          {{ object.poc_name }}
        </td>
      </tr>
      <tr class="border border-gray-200">
        <th class="p-4 bg-gray-100">
          Website
        </th>
        <td class="p-4">
          {{ object.website }}
        </td>
      </tr>
    </tbody>
</table>
{% endblock %}

{% block style %}
<style>
    th {
        white-space: nowrap;
    }
</style>
{% endblock %}