{% extends 'main/admin_base.html' %}
{% block content %}
<h1 class="text-center text-3xl font-extrabold">
    管理画面ログイン
</h1>
<div class="bg-white mx-auto mt-5 p-4 shadow" style="max-width: 600px;">
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <div class="text-center">
            <button class="py-2 px-5 bg-white border-2 text-black border-black rounded">ログイン</button>    
        </div>
        <div class="text-center">
            利用登録がお済でない方は<a href="{% url 'main:signup' %}" class="border-b border-blue-600 text-blue-600">こちら</a>
        </div>
    </form>
</div>
{% endblock %}